.toolbar {
  width: 100vw;
  height: 65px;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 24px;

  box-shadow: 3px 3px 35px #00000010;
}

.nav__ul {
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav__link {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  color: var(--surface-800);
  padding: 4px;

  i {
    font-size: 20px;
  }

  p {
    font-size: var(--tiny-font-size);
    text-align: center;
    line-height: var(--tiny-font-size);
  }

  &.nav__link__active {
    background-color: #6c63ff21;
    i,
    p {
      color: var(--primary-color);
    }

    p {
      font-weight: bold;
    }
  }
}
