.account__header {
  background: linear-gradient(
    to top,
    #a27df8,
    var(--primary-color),
    var(--primary-color),
    var(--primary-color)
  );
  padding: 16px 24px 24px;
  border-radius: 0 0 16px 16px;
  box-shadow: 3px 3px 35px #00000015;
  margin: 0 0 24px;
}

.header__bg {
  width: 100vw;
  height: 204px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  pointer-events: none;
}

.header__actions {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.actions__signout {
  color: var(--surface-0);
  i {
    margin: 4px 0 0 8px;
  }
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
}

.profile__picture {
  width: 80px;
  height: 80px;
  background-color: #00000080;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture__letter {
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  margin: -6px 0 0 2px;
}

.info__name {
  font-size: var(--big-font-size);
  font-weight: bold;
}

.info__name,
.info__email {
  color: var(--surface-0);
}

.account__info {
  padding: 0 24px;
}

.info__skeleton {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info__title {
  font-size: var(--big-font-size);
  font-weight: bold;
  color: var(--surface-600);
  margin: 0 0 8px;
}

.info__fields {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
