<section id="profile-account" class="profile__acount">
  <header class="account__header">
    <div class="header__actions">
      <p class="actions__signout" (click)="signOut()">
        Sair
        <i class="pi pi-sign-out"></i>
      </p>
    </div>

    <div class="header__profile">
      <div class="profile__picture" *ngIf="!loadingUser">
        <p class="picture__letter">{{ (user?.name)![0] }}</p>
      </div>

      <shared-indicator-skeleton
        *ngIf="loadingUser"
        width="80px"
        height="80px"
        borderRadius="80px"
      ></shared-indicator-skeleton>

      <div class="profile__info">
        <div class="info__skeleton" *ngIf="loadingUser">
          <shared-indicator-skeleton
            width="125px"
            height="24px"
            borderRadius="8px"
          ></shared-indicator-skeleton>

          <shared-indicator-skeleton
            width="200px"
            height="24px"
            borderRadius="8px"
          ></shared-indicator-skeleton>
        </div>

        <p class="info__name">{{ user?.name }}</p>
        <p class="info__email">{{ user?.email }}</p>
      </div>
    </div>
    <img class="header__bg" src="assets/images/backgrounds/sprinkles.svg" />
  </header>

  <form class="account__info" [formGroup]="accountForm">
    <p class="info__title">Informações da conta</p>

    <div class="info__fields">
      <shared-input
        controlName="name"
        label="Nome Completo"
        leftIcon="pi-user"
      ></shared-input>

      <shared-input
        controlName="email"
        label="E-mail"
        leftIcon="pi-envelope"
      ></shared-input>
    </div>
  </form>
</section>
